# Wrangling Data

### Author: Avikal Somvanshi

In [1]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import os
import csv
from pandas.tools.plotting import scatter_matrix
import sys
reload(sys)
import zipfile
import geopandas as gpd
sys.setdefaultencoding('utf-8')
%pylab inline

In [2]:
#Unzippping downloaded median income data of 1999 in a dataframe
zipfile.ZipFile(os.path.join("data/income_00.zip")).extractall(r"data/income_00")

In [3]:
#Reading and saving downloaded median income data of 1999 in a dataframe
data_2000 = pd.read_csv('data/income_00/DEC_00_SF3_P052_with_ann.csv')
data_2000.head()

,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,VD07,VD08,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17
0,Id,Id2,Geography,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",859,48,45,16,31,18,59,35,31,8,70,105,68,115,52,39,119
2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",1303,63,0,66,44,22,75,54,94,86,147,174,57,151,131,87,52
3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",246,16,6,10,23,10,13,8,13,12,16,31,23,24,8,15,18
4,1500000US360470002001,360470002001,"Block Group 1, Census Tract 2, Kings County, N...",118,6,10,15,0,12,9,16,3,10,15,0,15,7,0,0,0

In [4]:
#Unzipping downloaded median income data of 2013 in a dataframe
zipfile.ZipFile(os.path.join("data/income_13.zip")).extractall(r"data/income_13")

In [5]:
#Reading and saving downloaded median income data of 2013 in a dataframe
data_2013 = pd.read_csv('data/income_13/ACS_13_5YR_B19001_with_ann.csv')
data_2013.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD02_VD01,HD01_VD02,HD02_VD02,HD01_VD03,HD02_VD03,HD01_VD04,...,HD01_VD13,HD02_VD13,HD01_VD14,HD02_VD14,HD01_VD15,HD02_VD15,HD01_VD16,HD02_VD16,HD01_VD17,HD02_VD17
0,Id,Id2,Geography,Estimate; Total:,Margin of Error; Total:,"Estimate; Total: - Less than $10,000","Margin of Error; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Margin of Error; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999",...,"Estimate; Total: - $75,000 to $99,999","Margin of Error; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Margin of Error; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Margin of Error; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Margin of Error; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more","Margin of Error; Total: - $200,000 or more"
1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",308,73,54,48,14,22,0,...,37,37,22,25,5,8,39,35,87,70
2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",291,86,33,36,15,23,0,...,0,12,13,22,0,12,0,12,119,63
3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",710,114,33,39,51,80,0,...,151,75,96,53,33,39,118,73,71,42
4,1500000US360470001004,360470001004,"Block Group 4, Census Tract 1, Kings County, N...",797,126,47,43,30,33,21,...,107,59,23,28,59,43,32,37,123,73

In [6]:
data_2013.columns

Index([u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01', u'HD02_VD01',
       u'HD01_VD02', u'HD02_VD02', u'HD01_VD03', u'HD02_VD03', u'HD01_VD04',
       u'HD02_VD04', u'HD01_VD05', u'HD02_VD05', u'HD01_VD06', u'HD02_VD06',
       u'HD01_VD07', u'HD02_VD07', u'HD01_VD08', u'HD02_VD08', u'HD01_VD09',
       u'HD02_VD09', u'HD01_VD10', u'HD02_VD10', u'HD01_VD11', u'HD02_VD11',
       u'HD01_VD12', u'HD02_VD12', u'HD01_VD13', u'HD02_VD13', u'HD01_VD14',
       u'HD02_VD14', u'HD01_VD15', u'HD02_VD15', u'HD01_VD16', u'HD02_VD16',
       u'HD01_VD17', u'HD02_VD17'],
      dtype='object')

In [7]:
data_2013 = data_2013[[u'GEO.id', u'GEO.id2', u'GEO.display-label', u'HD01_VD01', u'HD01_VD02', u'HD01_VD03', u'HD01_VD04', 
                       u'HD01_VD05', u'HD01_VD06', u'HD01_VD07', u'HD01_VD08', u'HD01_VD09', u'HD01_VD10', u'HD01_VD11', 
                       u'HD01_VD12', u'HD01_VD13', u'HD01_VD14', u'HD01_VD15', u'HD01_VD16', u'HD01_VD17']]

In [8]:
data_2013.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,HD01_VD08,HD01_VD09,HD01_VD10,HD01_VD11,HD01_VD12,HD01_VD13,HD01_VD14,HD01_VD15,HD01_VD16,HD01_VD17
0,Id,Id2,Geography,Estimate; Total:,"Estimate; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999","Estimate; Total: - $35,000 to $39,999","Estimate; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more"
1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",308,54,14,0,0,0,0,5,5,6,13,21,37,22,5,39,87
2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",291,33,15,0,0,0,46,40,12,0,0,13,0,13,0,0,119
3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",710,33,51,0,27,13,58,0,0,16,14,29,151,96,33,118,71
4,1500000US360470001004,360470001004,"Block Group 4, Census Tract 1, Kings County, N...",797,47,30,21,88,0,35,0,45,0,79,108,107,23,59,32,123

In [9]:
#Unzipping downloaded nyc shapefile in a dataframe
zipfile.ZipFile(os.path.join("data/cb_2015_36_bg_500k.zip")).extractall(r"data/cb_2015_36_bg_500k")

In [10]:
# loading shape file for NYC
nyc_shape = gpd.read_file("data/cb_2015_36_bg_500k/cb_2015_36_bg_500k.shp")
nyc_shape.head()

,AFFGEOID,ALAND,AWATER,BLKGRPCE,COUNTYFP,GEOID,LSAD,NAME,STATEFP,TRACTCE,geometry
0,1500000US360610211000,0,307945,0,061,360610211000,BG,0,36,021100,"POLYGON ((-73.968082 40.8207, -73.967982575439..."
1,1500000US360290131014,557271,351509,4,029,360290131014,BG,4,36,013101,POLYGON ((-78.89711856256349 42.75125713600959...
2,1500000US360050516002,256313,0,2,005,360050516002,BG,2,36,051600,"POLYGON ((-73.791504 40.855456, -73.7874279999..."
3,1500000US360810183004,33973,0,4,081,360810183004,BG,4,36,018300,"POLYGON ((-73.92145099999999 40.743634, -73.92..."
4,1500000US360470276003,70988,0,3,047,360470276003,BG,3,36,027600,"POLYGON ((-74.001302 40.611068, -74.0010729999..."

In [11]:
nyc_shape.columns = [[u'GEO.id',    u'ALAND',   u'AWATER', u'BLKGRPCE', u'COUNTYFP',
          u'GEO.id2',     u'LSAD',     u'NAME',  u'STATEFP',  u'TRACTCE',
       u'geometry']]

In [12]:
nyc_shape.head()

,GEO.id,ALAND,AWATER,BLKGRPCE,COUNTYFP,GEO.id2,LSAD,NAME,STATEFP,TRACTCE,geometry
0,1500000US360610211000,0,307945,0,061,360610211000,BG,0,36,021100,"POLYGON ((-73.968082 40.8207, -73.967982575439..."
1,1500000US360290131014,557271,351509,4,029,360290131014,BG,4,36,013101,POLYGON ((-78.89711856256349 42.75125713600959...
2,1500000US360050516002,256313,0,2,005,360050516002,BG,2,36,051600,"POLYGON ((-73.791504 40.855456, -73.7874279999..."
3,1500000US360810183004,33973,0,4,081,360810183004,BG,4,36,018300,"POLYGON ((-73.92145099999999 40.743634, -73.92..."
4,1500000US360470276003,70988,0,3,047,360470276003,BG,3,36,027600,"POLYGON ((-74.001302 40.611068, -74.0010729999..."

In [13]:
bky_shape = nyc_shape[[u'GEO.id', u'GEO.id2', u'geometry']]
bky_shape.head()

,GEO.id,GEO.id2,geometry
0,1500000US360610211000,360610211000,"POLYGON ((-73.968082 40.8207, -73.967982575439..."
1,1500000US360290131014,360290131014,POLYGON ((-78.89711856256349 42.75125713600959...
2,1500000US360050516002,360050516002,"POLYGON ((-73.791504 40.855456, -73.7874279999..."
3,1500000US360810183004,360810183004,"POLYGON ((-73.92145099999999 40.743634, -73.92..."
4,1500000US360470276003,360470276003,"POLYGON ((-74.001302 40.611068, -74.0010729999..."

In [14]:
#Merging 2000 the dataframes to a mother dataframe
income_2000 = pd.merge(data_2000, bky_shape, how='left', on=['GEO.id', 'GEO.id2'])
income_2000.head()

,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,VD07,...,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17,geometry
0,Id,Id2,Geography,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999",...,"$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",NaN
1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",859,48,45,16,31,18,59,...,31,8,70,105,68,115,52,39,119,"POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",1303,63,0,66,44,22,75,...,94,86,147,174,57,151,131,87,52,"POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",246,16,6,10,23,10,13,...,13,12,16,31,23,24,8,15,18,"POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,1500000US360470002001,360470002001,"Block Group 1, Census Tract 2, Kings County, N...",118,6,10,15,0,12,9,...,3,10,15,0,15,7,0,0,0,"POLYGON ((-74.012844 40.653016, -74.0150479999..."

In [15]:
#Merging 2013 the dataframes to a mother dataframe
income_2013 = pd.merge(data_2013, bky_shape, how='left', on=['GEO.id', 'GEO.id2'])
income_2013.head()

,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,HD01_VD07,...,HD01_VD09,HD01_VD10,HD01_VD11,HD01_VD12,HD01_VD13,HD01_VD14,HD01_VD15,HD01_VD16,HD01_VD17,geometry
0,Id,Id2,Geography,Estimate; Total:,"Estimate; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999","Estimate; Total: - $30,000 to $34,999",...,"Estimate; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more",NaN
1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",308,54,14,0,0,0,0,...,5,6,13,21,37,22,5,39,87,"POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",291,33,15,0,0,0,46,...,12,0,0,13,0,13,0,0,119,"POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",710,33,51,0,27,13,58,...,0,16,14,29,151,96,33,118,71,"POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,1500000US360470001004,360470001004,"Block Group 4, Census Tract 1, Kings County, N...",797,47,30,21,88,0,35,...,45,0,79,108,107,23,59,32,123,"POLYGON ((-73.99271 40.698097, -73.991759 40.7..."

In [16]:
#Saving the dataset as csv
income_2000.to_csv('income_2000.csv')
income_2013.to_csv('income_2013.csv')

In [42]:
#Checking the CSV
data = pd.read_csv('income_2013.csv')
data.head()

,Unnamed: 0,GEO.id,GEO.id2,GEO.display-label,HD01_VD01,HD01_VD02,HD01_VD03,HD01_VD04,HD01_VD05,HD01_VD06,...,HD01_VD09,HD01_VD10,HD01_VD11,HD01_VD12,HD01_VD13,HD01_VD14,HD01_VD15,HD01_VD16,HD01_VD17,geometry
0,0,Id,Id2,Geography,Estimate; Total:,"Estimate; Total: - Less than $10,000","Estimate; Total: - $10,000 to $14,999","Estimate; Total: - $15,000 to $19,999","Estimate; Total: - $20,000 to $24,999","Estimate; Total: - $25,000 to $29,999",...,"Estimate; Total: - $40,000 to $44,999","Estimate; Total: - $45,000 to $49,999","Estimate; Total: - $50,000 to $59,999","Estimate; Total: - $60,000 to $74,999","Estimate; Total: - $75,000 to $99,999","Estimate; Total: - $100,000 to $124,999","Estimate; Total: - $125,000 to $149,999","Estimate; Total: - $150,000 to $199,999","Estimate; Total: - $200,000 or more",NaN
1,1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",308,54,14,0,0,0,...,5,6,13,21,37,22,5,39,87,"POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",291,33,15,0,0,0,...,12,0,0,13,0,13,0,0,119,"POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",710,33,51,0,27,13,...,0,16,14,29,151,96,33,118,71,"POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,4,1500000US360470001004,360470001004,"Block Group 4, Census Tract 1, Kings County, N...",797,47,30,21,88,0,...,45,0,79,108,107,23,59,32,123,"POLYGON ((-73.99271 40.698097, -73.991759 40.7..."

# Good to go!

In [43]:
data.columns

Index([u'Unnamed: 0', u'GEO.id', u'GEO.id2', u'GEO.display-label',
       u'HD01_VD01', u'HD01_VD02', u'HD01_VD03', u'HD01_VD04', u'HD01_VD05',
       u'HD01_VD06', u'HD01_VD07', u'HD01_VD08', u'HD01_VD09', u'HD01_VD10',
       u'HD01_VD11', u'HD01_VD12', u'HD01_VD13', u'HD01_VD14', u'HD01_VD15',
       u'HD01_VD16', u'HD01_VD17', u'geometry'],
      dtype='object')

In [44]:
data.columns = [[u'Unnamed: 0', u'GEO.id', u'GEO.id2', u'GEO.display-label',
       u'VD01', u'VD02', u'VD03', u'VD04', u'VD05',
       u'VD06', u'VD07', u'VD08', u'VD09', u'VD10',
       u'VD11', u'VD12', u'VD13', u'VD14', u'VD15',
       u'VD16', u'VD17', u'geometry']]

In [45]:
data.drop([0], inplace=True)
data.head()

,Unnamed: 0,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,...,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17,geometry
1,1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",308,54,14,0,0,0,...,5,6,13,21,37,22,5,39,87,"POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",291,33,15,0,0,0,...,12,0,0,13,0,13,0,0,119,"POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",710,33,51,0,27,13,...,0,16,14,29,151,96,33,118,71,"POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,4,1500000US360470001004,360470001004,"Block Group 4, Census Tract 1, Kings County, N...",797,47,30,21,88,0,...,45,0,79,108,107,23,59,32,123,"POLYGON ((-73.99271 40.698097, -73.991759 40.7..."
5,5,1500000US360470002001,360470002001,"Block Group 1, Census Tract 2, Kings County, N...",371,48,5,48,21,29,...,5,19,47,23,16,33,0,5,0,"POLYGON ((-74.012844 40.653016, -74.0150479999..."

In [46]:
intax_2013 = data[['GEO.id', 'GEO.display-label', 'geometry']]
intax_2013.head()

,GEO.id,GEO.display-label,geometry
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7..."
5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999..."

In [47]:
intax_2013['B1'] = (data.VD02.astype(float) * 5000 * 0.04) + (data.VD03.astype(float)* 12500 * 0.04)
intax_2013['B2'] = (data.VD04.astype(float) * (((17500 - 17050) * 0.045) + 682)) + (data.VD05.astype(float)* (((22500 - 17050) * 0.045) + 682))
intax_2013['B3'] = (data.VD06.astype(float) * (((27500 - 23450) * 0.0525) + 970)) 
intax_2013['B4'] = (data.VD07.astype(float) * (((32500 - 27750) * 0.059) + 1195.75)) + (data.VD08.astype(float)* (((37500 - 27750) * 0.059) + 1195.75)) + (data.VD09.astype(float)* (((42500 - 27750) * 0.059) + 1195.75))
intax_2013['B5'] = (data.VD10.astype(float) * (((47500 - 42750) * 0.0645) + 2080.75)) + (data.VD11.astype(float) * (((55000 - 42750) * 0.0645) + 2080.75)) + (data.VD12.astype(float) * (((67500 - 42750) * 0.0645) + 2080.75)) + (data.VD13.astype(float) * (((87500 - 42750) * 0.0645) + 2080.75)) + (data.VD14.astype(float) * (((112500 - 42750) * 0.0645) + 2080.75)) + (data.VD15.astype(float) * (((137500 - 42750) * 0.0645) + 2080.75))
intax_2013['B6'] = (data.VD16.astype(float) * (((175000 - 160500) * 0.0665) + 9675.63)) + (data.VD17.astype(float) * (((319000 - 160500) * 0.0665) + 9675.63))
intax_2013.head()

,GEO.id,GEO.display-label,geometry,B1,B2,B3,B4,B5,B6
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",17800.0,0.00,0.000,19185.0,498359.750,2173736.88
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",14100.0,0.00,0.000,163528.0,133337.750,2405689.72
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",32100.0,25035.75,15374.125,85608.0,1837042.875,2690833.32
4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7...",24400.0,96345.25,0.000,144630.0,1790077.750,2827029.40
5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",12100.0,53180.25,34296.125,124567.0,561462.000,53199.40

In [48]:
intax_2013['TotalTax2013'] = intax_2013.B1 + intax_2013.B2 + intax_2013.B3 + intax_2013.B4 + intax_2013.B5 + intax_2013.B6
intax_2013

,GEO.id,GEO.display-label,geometry,B1,B2,B3,B4,B5,B6,TotalTax2013
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",17800.0,0.00,0.000,19185.0,498359.750,2173736.88,2.709082e+06
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",14100.0,0.00,0.000,163528.0,133337.750,2405689.72,2.716655e+06
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",32100.0,25035.75,15374.125,85608.0,1837042.875,2690833.32,4.685994e+06
4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7...",24400.0,96345.25,0.000,144630.0,1790077.750,2827029.40,4.882482e+06
5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",12100.0,53180.25,34296.125,124567.0,561462.000,53199.40,8.388048e+05
6,1500000US360470003011,"Block Group 1, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9960009999...",0.0,79852.50,0.000,30990.0,1323728.250,1997114.44,3.431685e+06
7,1500000US360470003012,"Block Group 2, Census Tract 3.01, Kings County...","POLYGON ((-73.99641299999999 40.696131, -73.99...",0.0,39469.25,13008.875,141683.0,548100.500,3568633.68,4.310895e+06
8,1500000US360470003013,"Block Group 3, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9964129999...",4400.0,0.00,43757.125,37188.0,360285.625,4065516.40,4.511147e+06
9,1500000US360470003014,"Block Group 4, Census Tract 3.01, Kings County...","POLYGON ((-74.000277 40.694959, -73.999461 40....",28700.0,0.00,0.000,159393.0,593538.250,2751484.20,3.533115e+06
10,1500000US360470003015,"Block Group 5, Census Tract 3.01, Kings County...","POLYGON ((-73.99942 40.696361, -73.998847 40.6...",0.0,19472.25,0.000,0.0,632788.375,1617270.40,2.269531e+06
11,1500000US360470005011,"Block Group 1, Census Tract 5.01, Kings County...","POLYGON ((-73.994292 40.698535, -73.99271 40.6...",27000.0,42926.00,15374.125,90323.0,2143591.250,3389882.40,5.709097e+06
12,1500000US360470005012,"Block Group 2, Census Tract 5.01, Kings County...","POLYGON ((-73.995547 40.695892, -73.9953259999...",29600.0,39810.25,11826.250,14760.0,1071463.750,2488675.60,3.656136e+06
13,1500000US360470005013,"Block Group 3, Census Tract 5.01, Kings County...","POLYGON ((-73.996197 40.694507, -73.9958549999...",16900.0,0.00,0.000,50184.0,1003577.500,3861230.92,4.931892e+06
14,1500000US360470005021,"Block Group 1, Census Tract 5.02, Kings County...","POLYGON ((-73.993785 40.69587, -73.99302 40.69...",10800.0,18906.25,8278.375,122794.0,2682336.125,2422711.80,5.265827e+06
15,1500000US360470005022,"Block Group 2, Census Tract 5.02, Kings County...","POLYGON ((-73.994298 40.694792, -73.993978 40....",11800.0,106088.00,9461.000,49589.0,1368969.625,3241983.64,4.787891e+06
16,1500000US360470007001,"Block Group 1, Census Tract 7, Kings County, N...","POLYGON ((-74.001317 40.693208, -74.001277 40....",5200.0,26719.75,23652.500,28633.0,1932499.750,6053055.92,8.069761e+06
17,1500000US360470007002,"Block Group 2, Census Tract 7, Kings County, N...","POLYGON ((-73.997609 40.693601, -73.9967159999...",4000.0,24640.25,46122.375,23023.0,783051.125,2544006.00,3.424843e+06
18,1500000US360470007003,"Block Group 3, Census Tract 7, Kings County, N...","POLYGON ((-73.995914 40.691416, -73.99508 40.6...",8000.0,8345.25,21287.250,136660.0,1643015.375,6395662.00,8.212970e+06
19,1500000US360470009001,"Block Group 1, Census Tract 9, Kings County, N...","POLYGON ((-73.99310299999999 40.692846, -73.99...",23300.0,0.00,29565.625,95337.0,2672091.875,7227703.64,1.004800e+07
20,1500000US360470009002,"Block Group 2, Census Tract 9, Kings County, N...","POLYGON ((-73.993736 40.69153499999999, -73.98...",13800.0,47344.25,28383.000,127516.0,1213350.875,8135285.08,9.565679e+06
21,1500000US360470011001,"Block Group 1, Census Tract 11, Kings County, ...","POLYGON ((-73.990447 40.693735, -73.990663 40....",3500.0,3709.00,0.000,23907.0,1012794.125,1382122.68,2.426033e+06
22,1500000US360470013001,"Block Group 1, Census Tract 13, Kings County, ...","POLYGON ((-73.991407 40.69777699999999, -73.99...",7600.0,26692.50,10643.625,79399.0,2923563.000,3843137.40,6.891036e+06
23,1500000US360470013002,"Block Group 2, Census Tract 13, Kings County, ...","POLYGON ((-73.98868399999999 40.700699, -73.98...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00
24,1500000US360470015001,"Block Group 1, Census Tract 15, Kings County, ...","POLYGON ((-73.98472599999999 40.696129, -73.98...",4000.0,0.00,13008.875,37782.0,1919476.375,3054720.24,5.028987e+06
25,1500000US360470015002,"Block Group 2, Census Tract 15, Kings County, ...","POLYGON ((-73.98245299999999 40.694796, -73.98...",65200.0,90099.75,57948.625,149653.0,252362.125,121295.28,7.365588e+05
26,1500000US360470015003,"Block Group 3, Census Tract 15, Kings County, ...","POLYGON ((-73.98514299999999 40.694885, -73.98...",28600.0,31212.75,17739.375,172969.0,2051539.750,5528504.76,7.830566e+06
27,1500000US360470018000,"Block Group 0, Census Tract 18, Kings County, ...","POLYGON ((-74.03351683155289 40.6443027526705,...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00
28,1500000US360470018001,"Block Group 1, Census Tract 18, Kings County, ...","POLYGON ((-74.03049799999999 40.6453, -74.0282...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00
29,1500000US360470020001,"Block Group 1, Census Tract 20, Kings County, ...","POLYGON ((-74.01634299999999 40.649656, -74.01...",5800.0,15817.75,15374.125,123681.0,301505.500,222374.68,6.845531e+05
30,1500000US360470020002,"Block Group 2, Census Tract 20, Kings County, ...","POLYGON ((-74.01750899999999 40.648533, -74.01...",1200.0,20481.25,18922.000,8855.0,828412.750,248973.84,1.126845e+06
...,...,...,...,...,...,...,...,...,...,...
2056,1500000US360471196003,"Block Group 3, Census Tract 1196, Kings County...","POLYGON ((-73.875275 40.674918, -73.8743509999...",29000.0,21913.00,31930.875,106851.0,697357.500,338349.48,1.225402e+06
2057,1500000US360471196004,"Block Group 4, Census Tract 1196, Kings County...","POLYGON ((-73.87495699999999 40.673651, -73.87...",10600.0,85354.50,16556.750,174440.0,735637.375,106398.80,1.128987e+06
2058,1500000US360471198001,"Block Group 1, Census Tract 1198, Kings County...","POLYGON ((-73.89999 40.6769, -73.896537 40.678...",15400.0,40799.00,0.000,180344.0,467238.500,0.00,7.037815e+05
2059,1500000US360471198002,"Block Group 2, Census Tract 1198, Kings County...","POLYGON ((-73.89621799999999 40.677358, -73.89...",44000.0,8849.75,15374.125,28336.0,512483.375,283022.32,8.920656e+05
2060,1500000US360471198003,"Block Group 3, Census Tract 1198, Kings County...","POLYGON ((-73.893484 40.677762, -73.891672 40....",65800.0,54537.25,14191.500,72018.0,270368.250,138318.44,6.152334e+05
2061,1500000US360471200001,"Block Group 1, Census Tract 1200, Kings County...","POLYGON ((-73.87043899999999 40.677218, -73.86...",22700.0,59752.75,16556.750,80878.0,429569.250,85119.04,6.945758e+05
2062,1500000US360471200002,"Block Group 2, Census Tract 1200, Kings County...","POLYGON ((-73.86975199999999 40.674404, -73.86...",4800.0,33121.75,41391.875,79992.0,396411.875,0.00,5.557175e+05
2063,1500000US360471202001,"Block Group 1, Census Tract 1202, Kings County...","POLYGON ((-73.86725799999999 40.676113, -73.86...",16000.0,46805.50,0.000,91498.0,324649.375,595833.28,1.074786e+06
2064,1500000US360471202002,"Block Group 2, Census Tract 1202, Kings County...","POLYGON ((-73.86886799999999 40.677156, -73.86...",21400.0,42169.25,20104.625,0.0,414434.000,0.00,4.981079e+05
2065,1500000US360471208001,"Block Group 1, Census Tract 1208, Kings County...","POLYGON ((-73.871303 40.672858, -73.8694469999...",32200.0,54775.50,0.000,304913.0,1109550.000,649032.68,2.150471e+06
2066,1500000US360471208002,"Block Group 2, Census Tract 1208, Kings County...","POLYGON ((-73.870943 40.671335, -73.866275 40....",18900.0,20365.25,0.000,291926.0,1150317.750,0.00,1.481509e+06
2067,1500000US360471208003,"Block Group 3, Census Tract 1208, Kings County...","POLYGON ((-73.86666799999999 40.673544, -73.86...",71900.0,121817.00,55583.375,431516.0,622641.750,0.00,1.303458e+06
2068,1500000US360471208004,"Block Group 4, Census Tract 1208, Kings County...",POLYGON ((-73.86592899999999 40.67061899999999...,12200.0,116062.75,24835.125,289275.0,501964.250,0.00,9.443371e+05
2069,1500000US360471208005,"Block Group 5, Census Tract 1208, Kings County...","POLYGON ((-73.863919 40.673942, -73.8617639999...",33800.0,0.00,46122.375,173568.0,732440.500,534123.92,1.520055e+06
2070,1500000US360471210001,"Block Group 1, Census Tract 1210, Kings County...","POLYGON ((-73.874624 40.672389, -73.8737189999...",95100.0,57277.75,67409.625,175625.0,770650.125,0.00,1.166062e+06
2071,1500000US360471210002,"Block Group 2, Census Tract 1210, Kings County...","POLYGON ((-73.8738 40.669335, -73.870561999999...",72500.0,90399.50,15374.125,83238.0,476644.500,202157.72,9.403138e+05
2072,1500000US360471214001,"Block Group 1, Census Tract 1214, Kings County...","POLYGON ((-73.868315 40.668669, -73.86554 40.6...",87100.0,174315.25,41391.875,186555.0,643749.875,0.00,1.133112e+06
2073,1500000US360471214002,"Block Group 2, Census Tract 1214, Kings County...","POLYGON ((-73.86788 40.666996, -73.86242 40.66...",82400.0,93154.00,48487.625,213993.0,284368.500,0.00,7.224031e+05
2074,1500000US360471220001,"Block Group 1, Census Tract 1220, Kings County...","POLYGON ((-73.867181 40.660452, -73.859859 40....",65200.0,65957.00,127723.500,286331.0,1517931.875,707555.80,2.770699e+06
2075,1500000US360471220002,"Block Group 2, Census Tract 1220, Kings County...","POLYGON ((-73.87008299999999 40.667962, -73.86...",49000.0,53855.25,69774.875,243806.0,2015128.125,404315.44,2.835880e+06
2076,1500000US360471237001,"Block Group 1, Census Tract 1237, Kings County...","POLYGON ((-73.961051 40.698326, -73.9588579999...",19700.0,67566.25,44939.750,21252.0,459346.625,42559.52,6.553641e+05
2077,1500000US360471237002,"Block Group 2, Census Tract 1237, Kings County...","POLYGON ((-73.95885799999999 40.698677, -73.95...",23400.0,75597.75,44939.750,118950.0,656669.000,404315.44,1.323872e+06
2078,1500000US360471237003,"Block Group 3, Census Tract 1237, Kings County...","POLYGON ((-73.95702 40.698974, -73.956075 40.6...",35600.0,86840.75,34296.125,96816.0,806808.375,363885.84,1.424247e+06
2079,1500000US360471502001,"Block Group 1, Census Tract 1502, Kings County...","POLYGON ((-73.98111 40.651592, -73.977333 40.6...",12600.0,12981.50,3547.875,89729.0,1223579.125,1988601.24,3.331039e+06
2080,1500000US360471502002,"Block Group 2, Census Tract 1502, Kings County...","POLYGON ((-73.981453 40.653416, -73.979187 40....",0.0,14440.50,8278.375,14462.0,1023278.500,1232102.64,2.292562e+06
2081,1500000US360471502003,"Block Group 3, Census Tract 1502, Kings County...","POLYGON ((-73.987296 40.660442, -73.9850709999...",5500.0,8624.75,11826.250,132824.0,1022108.750,969296.20,2.150180e+06
2082,1500000US360471522001,"Block Group 1, Census Tract 1522, Kings County...","POLYGON ((-73.97084099999999 40.646378, -73.96...",1200.0,9299.75,0.000,58443.0,1280427.375,1576838.64,2.926209e+06
2083,1500000US360471522002,"Block Group 2, Census Tract 1522, Kings County...","POLYGON ((-73.96948399999999 40.64169, -73.968...",4600.0,17672.25,0.000,56673.0,1069582.625,802249.76,1.950778e+06
2084,1500000US360471522003,"Block Group 3, Census Tract 1522, Kings County...","POLYGON ((-73.967546 40.647683, -73.9666649999...",17100.0,4636.25,0.000,43977.0,918295.375,1139536.44,2.123545e+06
2085,1500000US360479901000,"Block Group 0, Census Tract 9901, Kings County...","POLYGON ((-73.93264580199239 40.5722744881389,...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00

In [49]:
#Checking the CSV
data = pd.read_csv('income_2000.csv')
data.head()

,Unnamed: 0,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,...,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17,geometry
0,0,Id,Id2,Geography,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999",...,"$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more",NaN
1,1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",859,48,45,16,31,18,...,31,8,70,105,68,115,52,39,119,"POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",1303,63,0,66,44,22,...,94,86,147,174,57,151,131,87,52,"POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",246,16,6,10,23,10,...,13,12,16,31,23,24,8,15,18,"POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,4,1500000US360470002001,360470002001,"Block Group 1, Census Tract 2, Kings County, N...",118,6,10,15,0,12,...,3,10,15,0,15,7,0,0,0,"POLYGON ((-74.012844 40.653016, -74.0150479999..."

# Good to go!

In [50]:
data.columns

Index([u'Unnamed: 0', u'GEO.id', u'GEO.id2', u'GEO.display-label', u'VD01',
       u'VD02', u'VD03', u'VD04', u'VD05', u'VD06', u'VD07', u'VD08', u'VD09',
       u'VD10', u'VD11', u'VD12', u'VD13', u'VD14', u'VD15', u'VD16', u'VD17',
       u'geometry'],
      dtype='object')

In [51]:
data.columns = [[u'Unnamed: 0', u'GEO.id', u'GEO.id2', u'GEO.display-label',
       u'VD01', u'VD02', u'VD03', u'VD04', u'VD05',
       u'VD06', u'VD07', u'VD08', u'VD09', u'VD10',
       u'VD11', u'VD12', u'VD13', u'VD14', u'VD15',
       u'VD16', u'VD17', u'geometry']]

In [52]:
data.drop([0], inplace=True)
data.head()

,Unnamed: 0,GEO.id,GEO.id2,GEO.display-label,VD01,VD02,VD03,VD04,VD05,VD06,...,VD09,VD10,VD11,VD12,VD13,VD14,VD15,VD16,VD17,geometry
1,1,1500000US360470001001,360470001001,"Block Group 1, Census Tract 1, Kings County, N...",859,48,45,16,31,18,...,31,8,70,105,68,115,52,39,119,"POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,2,1500000US360470001002,360470001002,"Block Group 2, Census Tract 1, Kings County, N...",1303,63,0,66,44,22,...,94,86,147,174,57,151,131,87,52,"POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,3,1500000US360470001003,360470001003,"Block Group 3, Census Tract 1, Kings County, N...",246,16,6,10,23,10,...,13,12,16,31,23,24,8,15,18,"POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,4,1500000US360470002001,360470002001,"Block Group 1, Census Tract 2, Kings County, N...",118,6,10,15,0,12,...,3,10,15,0,15,7,0,0,0,"POLYGON ((-74.012844 40.653016, -74.0150479999..."
5,5,1500000US360470002002,360470002002,"Block Group 2, Census Tract 2, Kings County, N...",232,46,29,18,25,19,...,4,5,14,16,12,0,11,0,0,NaN

In [53]:
intax_2000 = data[['GEO.id', 'GEO.display-label', 'geometry']]
intax_2000.head()

,GEO.id,GEO.display-label,geometry
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99..."
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40...."
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999..."
4,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999..."
5,1500000US360470002002,"Block Group 2, Census Tract 2, Kings County, N...",NaN

In [54]:
intax_2000['B1'] = (data.VD02.astype(float) * 5000 * 0.04) + (data.VD03.astype(float)* 12500 * 0.04)
intax_2000['B2'] = (data.VD04.astype(float) * (((17500 - 16000) * 0.045) + 640)) 
intax_2000['B3'] = (data.VD05.astype(float)* (((22500 - 22000) * 0.0525) + 910)) 
intax_2000['B4'] = (data.VD06.astype(float) * (((27500 - 26000) * 0.059) + 1120)) + (data.VD07.astype(float) * (((32500 - 26000) * 0.059) + 1120)) + (data.VD08.astype(float)* (((37500 - 26000) * 0.059) + 1120))
intax_2000['B5'] = (data.VD09.astype(float)* (((42500 - 40000) * 0.0685) + 1946)) + (data.VD10.astype(float) * (((47500 - 40000) * 0.0685) + 1946)) + (data.VD11.astype(float) * (((55000 - 40000) * 0.0685) + 1946)) + (data.VD12.astype(float) * (((67500 - 40000) * 0.0685) + 1946)) + (data.VD13.astype(float) * (((87500 - 40000) * 0.0685) + 1946)) + (data.VD14.astype(float) * (((112500 - 40000) * 0.0685) + 1946)) + (data.VD15.astype(float) * (((137500 - 40000) * 0.0685) + 1946)) + (data.VD16.astype(float) * (((175000 - 40000) * 0.0685) + 1946)) + (data.VD17.astype(float) * (((319000 - 40000) * 0.0685) + 1946))
intax_2000.head()

,GEO.id,GEO.display-label,geometry,B1,B2,B3,B4,B5
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",32100.0,11320.0,29023.75,173407.0,5234949.25
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",12600.0,46695.0,41195.00,236468.5,6052843.25
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",6200.0,7075.0,21533.75,46018.5,1124763.25
4,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",6200.0,10612.5,0.00,56809.5,201933.75
5,1500000US360470002002,"Block Group 2, Census Tract 2, Kings County, N...",NaN,23700.0,12735.0,23406.25,75527.0,280942.00

In [55]:
intax_2013['TotalTax2000'] = intax_2000.B1 + intax_2000.B2 + intax_2000.B3 + intax_2000.B4 + intax_2000.B5
intax_2013

,GEO.id,GEO.display-label,geometry,B1,B2,B3,B4,B5,B6,TotalTax2013,TotalTax2000
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",17800.0,0.00,0.000,19185.0,498359.750,2173736.88,2.709082e+06,5480800.00
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",14100.0,0.00,0.000,163528.0,133337.750,2405689.72,2.716655e+06,6389801.75
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",32100.0,25035.75,15374.125,85608.0,1837042.875,2690833.32,4.685994e+06,1205590.50
4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7...",24400.0,96345.25,0.000,144630.0,1790077.750,2827029.40,4.882482e+06,275555.75
5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",12100.0,53180.25,34296.125,124567.0,561462.000,53199.40,8.388048e+05,416310.25
6,1500000US360470003011,"Block Group 1, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9960009999...",0.0,79852.50,0.000,30990.0,1323728.250,1997114.44,3.431685e+06,3382279.75
7,1500000US360470003012,"Block Group 2, Census Tract 3.01, Kings County...","POLYGON ((-73.99641299999999 40.696131, -73.99...",0.0,39469.25,13008.875,141683.0,548100.500,3568633.68,4.310895e+06,4144185.75
8,1500000US360470003013,"Block Group 3, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9964129999...",4400.0,0.00,43757.125,37188.0,360285.625,4065516.40,4.511147e+06,3931066.50
9,1500000US360470003014,"Block Group 4, Census Tract 3.01, Kings County...","POLYGON ((-74.000277 40.694959, -73.999461 40....",28700.0,0.00,0.000,159393.0,593538.250,2751484.20,3.533115e+06,2453632.00
10,1500000US360470003015,"Block Group 5, Census Tract 3.01, Kings County...","POLYGON ((-73.99942 40.696361, -73.998847 40.6...",0.0,19472.25,0.000,0.0,632788.375,1617270.40,2.269531e+06,3620629.25
11,1500000US360470005011,"Block Group 1, Census Tract 5.01, Kings County...","POLYGON ((-73.994292 40.698535, -73.99271 40.6...",27000.0,42926.00,15374.125,90323.0,2143591.250,3389882.40,5.709097e+06,1171729.00
12,1500000US360470005012,"Block Group 2, Census Tract 5.01, Kings County...","POLYGON ((-73.995547 40.695892, -73.9953259999...",29600.0,39810.25,11826.250,14760.0,1071463.750,2488675.60,3.656136e+06,4907558.75
13,1500000US360470005013,"Block Group 3, Census Tract 5.01, Kings County...","POLYGON ((-73.996197 40.694507, -73.9958549999...",16900.0,0.00,0.000,50184.0,1003577.500,3861230.92,4.931892e+06,4794841.00
14,1500000US360470005021,"Block Group 1, Census Tract 5.02, Kings County...","POLYGON ((-73.993785 40.69587, -73.99302 40.69...",10800.0,18906.25,8278.375,122794.0,2682336.125,2422711.80,5.265827e+06,3991186.75
15,1500000US360470005022,"Block Group 2, Census Tract 5.02, Kings County...","POLYGON ((-73.994298 40.694792, -73.993978 40....",11800.0,106088.00,9461.000,49589.0,1368969.625,3241983.64,4.787891e+06,3125627.50
16,1500000US360470007001,"Block Group 1, Census Tract 7, Kings County, N...","POLYGON ((-74.001317 40.693208, -74.001277 40....",5200.0,26719.75,23652.500,28633.0,1932499.750,6053055.92,8.069761e+06,4839218.50
17,1500000US360470007002,"Block Group 2, Census Tract 7, Kings County, N...","POLYGON ((-73.997609 40.693601, -73.9967159999...",4000.0,24640.25,46122.375,23023.0,783051.125,2544006.00,3.424843e+06,5670926.50
18,1500000US360470007003,"Block Group 3, Census Tract 7, Kings County, N...","POLYGON ((-73.995914 40.691416, -73.99508 40.6...",8000.0,8345.25,21287.250,136660.0,1643015.375,6395662.00,8.212970e+06,2578991.00
19,1500000US360470009001,"Block Group 1, Census Tract 9, Kings County, N...","POLYGON ((-73.99310299999999 40.692846, -73.99...",23300.0,0.00,29565.625,95337.0,2672091.875,7227703.64,1.004800e+07,4271091.00
20,1500000US360470009002,"Block Group 2, Census Tract 9, Kings County, N...","POLYGON ((-73.993736 40.69153499999999, -73.98...",13800.0,47344.25,28383.000,127516.0,1213350.875,8135285.08,9.565679e+06,4270308.25
21,1500000US360470011001,"Block Group 1, Census Tract 11, Kings County, ...","POLYGON ((-73.990447 40.693735, -73.990663 40....",3500.0,3709.00,0.000,23907.0,1012794.125,1382122.68,2.426033e+06,2291055.50
22,1500000US360470013001,"Block Group 1, Census Tract 13, Kings County, ...","POLYGON ((-73.991407 40.69777699999999, -73.99...",7600.0,26692.50,10643.625,79399.0,2923563.000,3843137.40,6.891036e+06,129942.50
23,1500000US360470013002,"Block Group 2, Census Tract 13, Kings County, ...","POLYGON ((-73.98868399999999 40.700699, -73.98...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00,4943033.50
24,1500000US360470015001,"Block Group 1, Census Tract 15, Kings County, ...","POLYGON ((-73.98472599999999 40.696129, -73.98...",4000.0,0.00,13008.875,37782.0,1919476.375,3054720.24,5.028987e+06,214855.25
25,1500000US360470015002,"Block Group 2, Census Tract 15, Kings County, ...","POLYGON ((-73.98245299999999 40.694796, -73.98...",65200.0,90099.75,57948.625,149653.0,252362.125,121295.28,7.365588e+05,21484.00
26,1500000US360470015003,"Block Group 3, Census Tract 15, Kings County, ...","POLYGON ((-73.98514299999999 40.694885, -73.98...",28600.0,31212.75,17739.375,172969.0,2051539.750,5528504.76,7.830566e+06,262450.50
27,1500000US360470018000,"Block Group 0, Census Tract 18, Kings County, ...","POLYGON ((-74.03351683155289 40.6443027526705,...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00,171513.00
28,1500000US360470018001,"Block Group 1, Census Tract 18, Kings County, ...","POLYGON ((-74.03049799999999 40.6453, -74.0282...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00,337659.75
29,1500000US360470020001,"Block Group 1, Census Tract 20, Kings County, ...","POLYGON ((-74.01634299999999 40.649656, -74.01...",5800.0,15817.75,15374.125,123681.0,301505.500,222374.68,6.845531e+05,598173.00
30,1500000US360470020002,"Block Group 2, Census Tract 20, Kings County, ...","POLYGON ((-74.01750899999999 40.648533, -74.01...",1200.0,20481.25,18922.000,8855.0,828412.750,248973.84,1.126845e+06,334964.00
...,...,...,...,...,...,...,...,...,...,...,...
2056,1500000US360471196003,"Block Group 3, Census Tract 1196, Kings County...","POLYGON ((-73.875275 40.674918, -73.8743509999...",29000.0,21913.00,31930.875,106851.0,697357.500,338349.48,1.225402e+06,4092246.75
2057,1500000US360471196004,"Block Group 4, Census Tract 1196, Kings County...","POLYGON ((-73.87495699999999 40.673651, -73.87...",10600.0,85354.50,16556.750,174440.0,735637.375,106398.80,1.128987e+06,805426.25
2058,1500000US360471198001,"Block Group 1, Census Tract 1198, Kings County...","POLYGON ((-73.89999 40.6769, -73.896537 40.678...",15400.0,40799.00,0.000,180344.0,467238.500,0.00,7.037815e+05,1157579.00
2059,1500000US360471198002,"Block Group 2, Census Tract 1198, Kings County...","POLYGON ((-73.89621799999999 40.677358, -73.89...",44000.0,8849.75,15374.125,28336.0,512483.375,283022.32,8.920656e+05,1700964.25
2060,1500000US360471198003,"Block Group 3, Census Tract 1198, Kings County...","POLYGON ((-73.893484 40.677762, -73.891672 40....",65800.0,54537.25,14191.500,72018.0,270368.250,138318.44,6.152334e+05,921619.00
2061,1500000US360471200001,"Block Group 1, Census Tract 1200, Kings County...","POLYGON ((-73.87043899999999 40.677218, -73.86...",22700.0,59752.75,16556.750,80878.0,429569.250,85119.04,6.945758e+05,715985.00
2062,1500000US360471200002,"Block Group 2, Census Tract 1200, Kings County...","POLYGON ((-73.86975199999999 40.674404, -73.86...",4800.0,33121.75,41391.875,79992.0,396411.875,0.00,5.557175e+05,NaN
2063,1500000US360471202001,"Block Group 1, Census Tract 1202, Kings County...","POLYGON ((-73.86725799999999 40.676113, -73.86...",16000.0,46805.50,0.000,91498.0,324649.375,595833.28,1.074786e+06,NaN
2064,1500000US360471202002,"Block Group 2, Census Tract 1202, Kings County...","POLYGON ((-73.86886799999999 40.677156, -73.86...",21400.0,42169.25,20104.625,0.0,414434.000,0.00,4.981079e+05,NaN
2065,1500000US360471208001,"Block Group 1, Census Tract 1208, Kings County...","POLYGON ((-73.871303 40.672858, -73.8694469999...",32200.0,54775.50,0.000,304913.0,1109550.000,649032.68,2.150471e+06,NaN
2066,1500000US360471208002,"Block Group 2, Census Tract 1208, Kings County...","POLYGON ((-73.870943 40.671335, -73.866275 40....",18900.0,20365.25,0.000,291926.0,1150317.750,0.00,1.481509e+06,NaN
2067,1500000US360471208003,"Block Group 3, Census Tract 1208, Kings County...","POLYGON ((-73.86666799999999 40.673544, -73.86...",71900.0,121817.00,55583.375,431516.0,622641.750,0.00,1.303458e+06,NaN
2068,1500000US360471208004,"Block Group 4, Census Tract 1208, Kings County...",POLYGON ((-73.86592899999999 40.67061899999999...,12200.0,116062.75,24835.125,289275.0,501964.250,0.00,9.443371e+05,NaN
2069,1500000US360471208005,"Block Group 5, Census Tract 1208, Kings County...","POLYGON ((-73.863919 40.673942, -73.8617639999...",33800.0,0.00,46122.375,173568.0,732440.500,534123.92,1.520055e+06,NaN
2070,1500000US360471210001,"Block Group 1, Census Tract 1210, Kings County...","POLYGON ((-73.874624 40.672389, -73.8737189999...",95100.0,57277.75,67409.625,175625.0,770650.125,0.00,1.166062e+06,NaN
2071,1500000US360471210002,"Block Group 2, Census Tract 1210, Kings County...","POLYGON ((-73.8738 40.669335, -73.870561999999...",72500.0,90399.50,15374.125,83238.0,476644.500,202157.72,9.403138e+05,NaN
2072,1500000US360471214001,"Block Group 1, Census Tract 1214, Kings County...","POLYGON ((-73.868315 40.668669, -73.86554 40.6...",87100.0,174315.25,41391.875,186555.0,643749.875,0.00,1.133112e+06,NaN
2073,1500000US360471214002,"Block Group 2, Census Tract 1214, Kings County...","POLYGON ((-73.86788 40.666996, -73.86242 40.66...",82400.0,93154.00,48487.625,213993.0,284368.500,0.00,7.224031e+05,NaN
2074,1500000US360471220001,"Block Group 1, Census Tract 1220, Kings County...","POLYGON ((-73.867181 40.660452, -73.859859 40....",65200.0,65957.00,127723.500,286331.0,1517931.875,707555.80,2.770699e+06,NaN
2075,1500000US360471220002,"Block Group 2, Census Tract 1220, Kings County...","POLYGON ((-73.87008299999999 40.667962, -73.86...",49000.0,53855.25,69774.875,243806.0,2015128.125,404315.44,2.835880e+06,NaN
2076,1500000US360471237001,"Block Group 1, Census Tract 1237, Kings County...","POLYGON ((-73.961051 40.698326, -73.9588579999...",19700.0,67566.25,44939.750,21252.0,459346.625,42559.52,6.553641e+05,NaN
2077,1500000US360471237002,"Block Group 2, Census Tract 1237, Kings County...","POLYGON ((-73.95885799999999 40.698677, -73.95...",23400.0,75597.75,44939.750,118950.0,656669.000,404315.44,1.323872e+06,NaN
2078,1500000US360471237003,"Block Group 3, Census Tract 1237, Kings County...","POLYGON ((-73.95702 40.698974, -73.956075 40.6...",35600.0,86840.75,34296.125,96816.0,806808.375,363885.84,1.424247e+06,NaN
2079,1500000US360471502001,"Block Group 1, Census Tract 1502, Kings County...","POLYGON ((-73.98111 40.651592, -73.977333 40.6...",12600.0,12981.50,3547.875,89729.0,1223579.125,1988601.24,3.331039e+06,NaN
2080,1500000US360471502002,"Block Group 2, Census Tract 1502, Kings County...","POLYGON ((-73.981453 40.653416, -73.979187 40....",0.0,14440.50,8278.375,14462.0,1023278.500,1232102.64,2.292562e+06,NaN
2081,1500000US360471502003,"Block Group 3, Census Tract 1502, Kings County...","POLYGON ((-73.987296 40.660442, -73.9850709999...",5500.0,8624.75,11826.250,132824.0,1022108.750,969296.20,2.150180e+06,NaN
2082,1500000US360471522001,"Block Group 1, Census Tract 1522, Kings County...","POLYGON ((-73.97084099999999 40.646378, -73.96...",1200.0,9299.75,0.000,58443.0,1280427.375,1576838.64,2.926209e+06,NaN
2083,1500000US360471522002,"Block Group 2, Census Tract 1522, Kings County...","POLYGON ((-73.96948399999999 40.64169, -73.968...",4600.0,17672.25,0.000,56673.0,1069582.625,802249.76,1.950778e+06,NaN
2084,1500000US360471522003,"Block Group 3, Census Tract 1522, Kings County...","POLYGON ((-73.967546 40.647683, -73.9666649999...",17100.0,4636.25,0.000,43977.0,918295.375,1139536.44,2.123545e+06,NaN
2085,1500000US360479901000,"Block Group 0, Census Tract 9901, Kings County...","POLYGON ((-73.93264580199239 40.5722744881389,...",0.0,0.00,0.000,0.0,0.000,0.00,0.000000e+00,NaN

In [56]:
intax_2013.columns

Index([           u'GEO.id', u'GEO.display-label',          u'geometry',
                      u'B1',                u'B2',                u'B3',
                      u'B4',                u'B5',                u'B6',
            u'TotalTax2013',      u'TotalTax2000'],
      dtype='object')

In [57]:
taxes = intax_2013[[u'GEO.id', u'GEO.display-label', u'geometry', u'TotalTax2013', u'TotalTax2000']]
taxes

,GEO.id,GEO.display-label,geometry,TotalTax2013,TotalTax2000
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",2.709082e+06,5480800.00
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",2.716655e+06,6389801.75
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",4.685994e+06,1205590.50
4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7...",4.882482e+06,275555.75
5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",8.388048e+05,416310.25
6,1500000US360470003011,"Block Group 1, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9960009999...",3.431685e+06,3382279.75
7,1500000US360470003012,"Block Group 2, Census Tract 3.01, Kings County...","POLYGON ((-73.99641299999999 40.696131, -73.99...",4.310895e+06,4144185.75
8,1500000US360470003013,"Block Group 3, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9964129999...",4.511147e+06,3931066.50
9,1500000US360470003014,"Block Group 4, Census Tract 3.01, Kings County...","POLYGON ((-74.000277 40.694959, -73.999461 40....",3.533115e+06,2453632.00
10,1500000US360470003015,"Block Group 5, Census Tract 3.01, Kings County...","POLYGON ((-73.99942 40.696361, -73.998847 40.6...",2.269531e+06,3620629.25
11,1500000US360470005011,"Block Group 1, Census Tract 5.01, Kings County...","POLYGON ((-73.994292 40.698535, -73.99271 40.6...",5.709097e+06,1171729.00
12,1500000US360470005012,"Block Group 2, Census Tract 5.01, Kings County...","POLYGON ((-73.995547 40.695892, -73.9953259999...",3.656136e+06,4907558.75
13,1500000US360470005013,"Block Group 3, Census Tract 5.01, Kings County...","POLYGON ((-73.996197 40.694507, -73.9958549999...",4.931892e+06,4794841.00
14,1500000US360470005021,"Block Group 1, Census Tract 5.02, Kings County...","POLYGON ((-73.993785 40.69587, -73.99302 40.69...",5.265827e+06,3991186.75
15,1500000US360470005022,"Block Group 2, Census Tract 5.02, Kings County...","POLYGON ((-73.994298 40.694792, -73.993978 40....",4.787891e+06,3125627.50
16,1500000US360470007001,"Block Group 1, Census Tract 7, Kings County, N...","POLYGON ((-74.001317 40.693208, -74.001277 40....",8.069761e+06,4839218.50
17,1500000US360470007002,"Block Group 2, Census Tract 7, Kings County, N...","POLYGON ((-73.997609 40.693601, -73.9967159999...",3.424843e+06,5670926.50
18,1500000US360470007003,"Block Group 3, Census Tract 7, Kings County, N...","POLYGON ((-73.995914 40.691416, -73.99508 40.6...",8.212970e+06,2578991.00
19,1500000US360470009001,"Block Group 1, Census Tract 9, Kings County, N...","POLYGON ((-73.99310299999999 40.692846, -73.99...",1.004800e+07,4271091.00
20,1500000US360470009002,"Block Group 2, Census Tract 9, Kings County, N...","POLYGON ((-73.993736 40.69153499999999, -73.98...",9.565679e+06,4270308.25
21,1500000US360470011001,"Block Group 1, Census Tract 11, Kings County, ...","POLYGON ((-73.990447 40.693735, -73.990663 40....",2.426033e+06,2291055.50
22,1500000US360470013001,"Block Group 1, Census Tract 13, Kings County, ...","POLYGON ((-73.991407 40.69777699999999, -73.99...",6.891036e+06,129942.50
23,1500000US360470013002,"Block Group 2, Census Tract 13, Kings County, ...","POLYGON ((-73.98868399999999 40.700699, -73.98...",0.000000e+00,4943033.50
24,1500000US360470015001,"Block Group 1, Census Tract 15, Kings County, ...","POLYGON ((-73.98472599999999 40.696129, -73.98...",5.028987e+06,214855.25
25,1500000US360470015002,"Block Group 2, Census Tract 15, Kings County, ...","POLYGON ((-73.98245299999999 40.694796, -73.98...",7.365588e+05,21484.00
26,1500000US360470015003,"Block Group 3, Census Tract 15, Kings County, ...","POLYGON ((-73.98514299999999 40.694885, -73.98...",7.830566e+06,262450.50
27,1500000US360470018000,"Block Group 0, Census Tract 18, Kings County, ...","POLYGON ((-74.03351683155289 40.6443027526705,...",0.000000e+00,171513.00
28,1500000US360470018001,"Block Group 1, Census Tract 18, Kings County, ...","POLYGON ((-74.03049799999999 40.6453, -74.0282...",0.000000e+00,337659.75
29,1500000US360470020001,"Block Group 1, Census Tract 20, Kings County, ...","POLYGON ((-74.01634299999999 40.649656, -74.01...",6.845531e+05,598173.00
30,1500000US360470020002,"Block Group 2, Census Tract 20, Kings County, ...","POLYGON ((-74.01750899999999 40.648533, -74.01...",1.126845e+06,334964.00
...,...,...,...,...,...
2056,1500000US360471196003,"Block Group 3, Census Tract 1196, Kings County...","POLYGON ((-73.875275 40.674918, -73.8743509999...",1.225402e+06,4092246.75
2057,1500000US360471196004,"Block Group 4, Census Tract 1196, Kings County...","POLYGON ((-73.87495699999999 40.673651, -73.87...",1.128987e+06,805426.25
2058,1500000US360471198001,"Block Group 1, Census Tract 1198, Kings County...","POLYGON ((-73.89999 40.6769, -73.896537 40.678...",7.037815e+05,1157579.00
2059,1500000US360471198002,"Block Group 2, Census Tract 1198, Kings County...","POLYGON ((-73.89621799999999 40.677358, -73.89...",8.920656e+05,1700964.25
2060,1500000US360471198003,"Block Group 3, Census Tract 1198, Kings County...","POLYGON ((-73.893484 40.677762, -73.891672 40....",6.152334e+05,921619.00
2061,1500000US360471200001,"Block Group 1, Census Tract 1200, Kings County...","POLYGON ((-73.87043899999999 40.677218, -73.86...",6.945758e+05,715985.00
2062,1500000US360471200002,"Block Group 2, Census Tract 1200, Kings County...","POLYGON ((-73.86975199999999 40.674404, -73.86...",5.557175e+05,NaN
2063,1500000US360471202001,"Block Group 1, Census Tract 1202, Kings County...","POLYGON ((-73.86725799999999 40.676113, -73.86...",1.074786e+06,NaN
2064,1500000US360471202002,"Block Group 2, Census Tract 1202, Kings County...","POLYGON ((-73.86886799999999 40.677156, -73.86...",4.981079e+05,NaN
2065,1500000US360471208001,"Block Group 1, Census Tract 1208, Kings County...","POLYGON ((-73.871303 40.672858, -73.8694469999...",2.150471e+06,NaN
2066,1500000US360471208002,"Block Group 2, Census Tract 1208, Kings County...","POLYGON ((-73.870943 40.671335, -73.866275 40....",1.481509e+06,NaN
2067,1500000US360471208003,"Block Group 3, Census Tract 1208, Kings County...","POLYGON ((-73.86666799999999 40.673544, -73.86...",1.303458e+06,NaN
2068,1500000US360471208004,"Block Group 4, Census Tract 1208, Kings County...",POLYGON ((-73.86592899999999 40.67061899999999...,9.443371e+05,NaN
2069,1500000US360471208005,"Block Group 5, Census Tract 1208, Kings County...","POLYGON ((-73.863919 40.673942, -73.8617639999...",1.520055e+06,NaN
2070,1500000US360471210001,"Block Group 1, Census Tract 1210, Kings County...","POLYGON ((-73.874624 40.672389, -73.8737189999...",1.166062e+06,NaN
2071,1500000US360471210002,"Block Group 2, Census Tract 1210, Kings County...","POLYGON ((-73.8738 40.669335, -73.870561999999...",9.403138e+05,NaN
2072,1500000US360471214001,"Block Group 1, Census Tract 1214, Kings County...","POLYGON ((-73.868315 40.668669, -73.86554 40.6...",1.133112e+06,NaN
2073,1500000US360471214002,"Block Group 2, Census Tract 1214, Kings County...","POLYGON ((-73.86788 40.666996, -73.86242 40.66...",7.224031e+05,NaN
2074,1500000US360471220001,"Block Group 1, Census Tract 1220, Kings County...","POLYGON ((-73.867181 40.660452, -73.859859 40....",2.770699e+06,NaN
2075,1500000US360471220002,"Block Group 2, Census Tract 1220, Kings County...","POLYGON ((-73.87008299999999 40.667962, -73.86...",2.835880e+06,NaN
2076,1500000US360471237001,"Block Group 1, Census Tract 1237, Kings County...","POLYGON ((-73.961051 40.698326, -73.9588579999...",6.553641e+05,NaN
2077,1500000US360471237002,"Block Group 2, Census Tract 1237, Kings County...","POLYGON ((-73.95885799999999 40.698677, -73.95...",1.323872e+06,NaN
2078,1500000US360471237003,"Block Group 3, Census Tract 1237, Kings County...","POLYGON ((-73.95702 40.698974, -73.956075 40.6...",1.424247e+06,NaN
2079,1500000US360471502001,"Block Group 1, Census Tract 1502, Kings County...","POLYGON ((-73.98111 40.651592, -73.977333 40.6...",3.331039e+06,NaN
2080,1500000US360471502002,"Block Group 2, Census Tract 1502, Kings County...","POLYGON ((-73.981453 40.653416, -73.979187 40....",2.292562e+06,NaN
2081,1500000US360471502003,"Block Group 3, Census Tract 1502, Kings County...","POLYGON ((-73.987296 40.660442, -73.9850709999...",2.150180e+06,NaN
2082,1500000US360471522001,"Block Group 1, Census Tract 1522, Kings County...","POLYGON ((-73.97084099999999 40.646378, -73.96...",2.926209e+06,NaN
2083,1500000US360471522002,"Block Group 2, Census Tract 1522, Kings County...","POLYGON ((-73.96948399999999 40.64169, -73.968...",1.950778e+06,NaN
2084,1500000US360471522003,"Block Group 3, Census Tract 1522, Kings County...","POLYGON ((-73.967546 40.647683, -73.9666649999...",2.123545e+06,NaN
2085,1500000US360479901000,"Block Group 0, Census Tract 9901, Kings County...","POLYGON ((-73.93264580199239 40.5722744881389,...",0.000000e+00,NaN

In [58]:
taxes.TotalTax2000 = taxes.TotalTax2000 * 1.13
taxes.TotalTax2013 = taxes.TotalTax2013 * 1.04
taxes

,GEO.id,GEO.display-label,geometry,TotalTax2013,TotalTax2000
1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",2.817445e+06,6.193304e+06
2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",2.825322e+06,7.220476e+06
3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",4.873434e+06,1.362317e+06
4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7...",5.077782e+06,3.113780e+05
5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",8.723570e+05,4.704306e+05
6,1500000US360470003011,"Block Group 1, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9960009999...",3.568953e+06,3.821976e+06
7,1500000US360470003012,"Block Group 2, Census Tract 3.01, Kings County...","POLYGON ((-73.99641299999999 40.696131, -73.99...",4.483331e+06,4.682930e+06
8,1500000US360470003013,"Block Group 3, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9964129999...",4.691593e+06,4.442105e+06
9,1500000US360470003014,"Block Group 4, Census Tract 3.01, Kings County...","POLYGON ((-74.000277 40.694959, -73.999461 40....",3.674440e+06,2.772604e+06
10,1500000US360470003015,"Block Group 5, Census Tract 3.01, Kings County...","POLYGON ((-73.99942 40.696361, -73.998847 40.6...",2.360312e+06,4.091311e+06
11,1500000US360470005011,"Block Group 1, Census Tract 5.01, Kings County...","POLYGON ((-73.994292 40.698535, -73.99271 40.6...",5.937461e+06,1.324054e+06
12,1500000US360470005012,"Block Group 2, Census Tract 5.01, Kings County...","POLYGON ((-73.995547 40.695892, -73.9953259999...",3.802381e+06,5.545541e+06
13,1500000US360470005013,"Block Group 3, Census Tract 5.01, Kings County...","POLYGON ((-73.996197 40.694507, -73.9958549999...",5.129168e+06,5.418170e+06
14,1500000US360470005021,"Block Group 1, Census Tract 5.02, Kings County...","POLYGON ((-73.993785 40.69587, -73.99302 40.69...",5.476460e+06,4.510041e+06
15,1500000US360470005022,"Block Group 2, Census Tract 5.02, Kings County...","POLYGON ((-73.994298 40.694792, -73.993978 40....",4.979407e+06,3.531959e+06
16,1500000US360470007001,"Block Group 1, Census Tract 7, Kings County, N...","POLYGON ((-74.001317 40.693208, -74.001277 40....",8.392551e+06,5.468317e+06
17,1500000US360470007002,"Block Group 2, Census Tract 7, Kings County, N...","POLYGON ((-73.997609 40.693601, -73.9967159999...",3.561836e+06,6.408147e+06
18,1500000US360470007003,"Block Group 3, Census Tract 7, Kings County, N...","POLYGON ((-73.995914 40.691416, -73.99508 40.6...",8.541489e+06,2.914260e+06
19,1500000US360470009001,"Block Group 1, Census Tract 9, Kings County, N...","POLYGON ((-73.99310299999999 40.692846, -73.99...",1.044992e+07,4.826333e+06
20,1500000US360470009002,"Block Group 2, Census Tract 9, Kings County, N...","POLYGON ((-73.993736 40.69153499999999, -73.98...",9.948306e+06,4.825448e+06
21,1500000US360470011001,"Block Group 1, Census Tract 11, Kings County, ...","POLYGON ((-73.990447 40.693735, -73.990663 40....",2.523074e+06,2.588893e+06
22,1500000US360470013001,"Block Group 1, Census Tract 13, Kings County, ...","POLYGON ((-73.991407 40.69777699999999, -73.99...",7.166677e+06,1.468350e+05
23,1500000US360470013002,"Block Group 2, Census Tract 13, Kings County, ...","POLYGON ((-73.98868399999999 40.700699, -73.98...",0.000000e+00,5.585628e+06
24,1500000US360470015001,"Block Group 1, Census Tract 15, Kings County, ...","POLYGON ((-73.98472599999999 40.696129, -73.98...",5.230147e+06,2.427864e+05
25,1500000US360470015002,"Block Group 2, Census Tract 15, Kings County, ...","POLYGON ((-73.98245299999999 40.694796, -73.98...",7.660211e+05,2.427692e+04
26,1500000US360470015003,"Block Group 3, Census Tract 15, Kings County, ...","POLYGON ((-73.98514299999999 40.694885, -73.98...",8.143788e+06,2.965691e+05
27,1500000US360470018000,"Block Group 0, Census Tract 18, Kings County, ...","POLYGON ((-74.03351683155289 40.6443027526705,...",0.000000e+00,1.938097e+05
28,1500000US360470018001,"Block Group 1, Census Tract 18, Kings County, ...","POLYGON ((-74.03049799999999 40.6453, -74.0282...",0.000000e+00,3.815555e+05
29,1500000US360470020001,"Block Group 1, Census Tract 20, Kings County, ...","POLYGON ((-74.01634299999999 40.649656, -74.01...",7.119352e+05,6.759355e+05
30,1500000US360470020002,"Block Group 2, Census Tract 20, Kings County, ...","POLYGON ((-74.01750899999999 40.648533, -74.01...",1.171919e+06,3.785093e+05
...,...,...,...,...,...
2056,1500000US360471196003,"Block Group 3, Census Tract 1196, Kings County...","POLYGON ((-73.875275 40.674918, -73.8743509999...",1.274418e+06,4.624239e+06
2057,1500000US360471196004,"Block Group 4, Census Tract 1196, Kings County...","POLYGON ((-73.87495699999999 40.673651, -73.87...",1.174147e+06,9.101317e+05
2058,1500000US360471198001,"Block Group 1, Census Tract 1198, Kings County...","POLYGON ((-73.89999 40.6769, -73.896537 40.678...",7.319328e+05,1.308064e+06
2059,1500000US360471198002,"Block Group 2, Census Tract 1198, Kings County...","POLYGON ((-73.89621799999999 40.677358, -73.89...",9.277482e+05,1.922090e+06
2060,1500000US360471198003,"Block Group 3, Census Tract 1198, Kings County...","POLYGON ((-73.893484 40.677762, -73.891672 40....",6.398428e+05,1.041429e+06
2061,1500000US360471200001,"Block Group 1, Census Tract 1200, Kings County...","POLYGON ((-73.87043899999999 40.677218, -73.86...",7.223588e+05,8.090630e+05
2062,1500000US360471200002,"Block Group 2, Census Tract 1200, Kings County...","POLYGON ((-73.86975199999999 40.674404, -73.86...",5.779462e+05,NaN
2063,1500000US360471202001,"Block Group 1, Census Tract 1202, Kings County...","POLYGON ((-73.86725799999999 40.676113, -73.86...",1.117778e+06,NaN
2064,1500000US360471202002,"Block Group 2, Census Tract 1202, Kings County...","POLYGON ((-73.86886799999999 40.677156, -73.86...",5.180322e+05,NaN
2065,1500000US360471208001,"Block Group 1, Census Tract 1208, Kings County...","POLYGON ((-73.871303 40.672858, -73.8694469999...",2.236490e+06,NaN
2066,1500000US360471208002,"Block Group 2, Census Tract 1208, Kings County...","POLYGON ((-73.870943 40.671335, -73.866275 40....",1.540769e+06,NaN
2067,1500000US360471208003,"Block Group 3, Census Tract 1208, Kings County...","POLYGON ((-73.86666799999999 40.673544, -73.86...",1.355596e+06,NaN
2068,1500000US360471208004,"Block Group 4, Census Tract 1208, Kings County...",POLYGON ((-73.86592899999999 40.67061899999999...,9.821106e+05,NaN
2069,1500000US360471208005,"Block Group 5, Census Tract 1208, Kings County...","POLYGON ((-73.863919 40.673942, -73.8617639999...",1.580857e+06,NaN
2070,1500000US360471210001,"Block Group 1, Census Tract 1210, Kings County...","POLYGON ((-73.874624 40.672389, -73.8737189999...",1.212705e+06,NaN
2071,1500000US360471210002,"Block Group 2, Census Tract 1210, Kings County...","POLYGON ((-73.8738 40.669335, -73.870561999999...",9.779264e+05,NaN
2072,1500000US360471214001,"Block Group 1, Census Tract 1214, Kings County...","POLYGON ((-73.868315 40.668669, -73.86554 40.6...",1.178436e+06,NaN
2073,1500000US360471214002,"Block Group 2, Census Tract 1214, Kings County...","POLYGON ((-73.86788 40.666996, -73.86242 40.66...",7.512992e+05,NaN
2074,1500000US360471220001,"Block Group 1, Census Tract 1220, Kings County...","POLYGON ((-73.867181 40.660452, -73.859859 40....",2.881527e+06,NaN
2075,1500000US360471220002,"Block Group 2, Census Tract 1220, Kings County...","POLYGON ((-73.87008299999999 40.667962, -73.86...",2.949315e+06,NaN
2076,1500000US360471237001,"Block Group 1, Census Tract 1237, Kings County...","POLYGON ((-73.961051 40.698326, -73.9588579999...",6.815787e+05,NaN
2077,1500000US360471237002,"Block Group 2, Census Tract 1237, Kings County...","POLYGON ((-73.95885799999999 40.698677, -73.95...",1.376827e+06,NaN
2078,1500000US360471237003,"Block Group 3, Census Tract 1237, Kings County...","POLYGON ((-73.95702 40.698974, -73.956075 40.6...",1.481217e+06,NaN
2079,1500000US360471502001,"Block Group 1, Census Tract 1502, Kings County...","POLYGON ((-73.98111 40.651592, -73.977333 40.6...",3.464280e+06,NaN
2080,1500000US360471502002,"Block Group 2, Census Tract 1502, Kings County...","POLYGON ((-73.981453 40.653416, -73.979187 40....",2.384264e+06,NaN
2081,1500000US360471502003,"Block Group 3, Census Tract 1502, Kings County...","POLYGON ((-73.987296 40.660442, -73.9850709999...",2.236187e+06,NaN
2082,1500000US360471522001,"Block Group 1, Census Tract 1522, Kings County...","POLYGON ((-73.97084099999999 40.646378, -73.96...",3.043257e+06,NaN
2083,1500000US360471522002,"Block Group 2, Census Tract 1522, Kings County...","POLYGON ((-73.96948399999999 40.64169, -73.968...",2.028809e+06,NaN
2084,1500000US360471522003,"Block Group 3, Census Tract 1522, Kings County...","POLYGON ((-73.967546 40.647683, -73.9666649999...",2.208487e+06,NaN
2085,1500000US360479901000,"Block Group 0, Census Tract 9901, Kings County...","POLYGON ((-73.93264580199239 40.5722744881389,...",0.000000e+00,NaN

In [59]:
#Saving the dataset as csv
taxes.to_csv('taxes.csv')

In [60]:
dataw = pd.read_csv ('taxes.csv')
dataw

,Unnamed: 0,GEO.id,GEO.display-label,geometry,TotalTax2013,TotalTax2000
0,1,1500000US360470001001,"Block Group 1, Census Tract 1, Kings County, N...","POLYGON ((-73.99669799999999 40.700877, -73.99...",2.817445e+06,6.193304e+06
1,2,1500000US360470001002,"Block Group 2, Census Tract 1, Kings County, N...","POLYGON ((-73.995379 40.700309, -73.993672 40....",2.825322e+06,7.220476e+06
2,3,1500000US360470001003,"Block Group 3, Census Tract 1, Kings County, N...","POLYGON ((-73.993672 40.699836, -73.9926119999...",4.873434e+06,1.362317e+06
3,4,1500000US360470001004,"Block Group 4, Census Tract 1, Kings County, N...","POLYGON ((-73.99271 40.698097, -73.991759 40.7...",5.077782e+06,3.113780e+05
4,5,1500000US360470002001,"Block Group 1, Census Tract 2, Kings County, N...","POLYGON ((-74.012844 40.653016, -74.0150479999...",8.723570e+05,4.704306e+05
5,6,1500000US360470003011,"Block Group 1, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9960009999...",3.568953e+06,3.821976e+06
6,7,1500000US360470003012,"Block Group 2, Census Tract 3.01, Kings County...","POLYGON ((-73.99641299999999 40.696131, -73.99...",4.483331e+06,4.682930e+06
7,8,1500000US360470003013,"Block Group 3, Census Tract 3.01, Kings County...","POLYGON ((-73.997078 40.696311, -73.9964129999...",4.691593e+06,4.442105e+06
8,9,1500000US360470003014,"Block Group 4, Census Tract 3.01, Kings County...","POLYGON ((-74.000277 40.694959, -73.999461 40....",3.674440e+06,2.772604e+06
9,10,1500000US360470003015,"Block Group 5, Census Tract 3.01, Kings County...","POLYGON ((-73.99942 40.696361, -73.998847 40.6...",2.360312e+06,4.091311e+06
10,11,1500000US360470005011,"Block Group 1, Census Tract 5.01, Kings County...","POLYGON ((-73.994292 40.698535, -73.99271 40.6...",5.937461e+06,1.324054e+06
11,12,1500000US360470005012,"Block Group 2, Census Tract 5.01, Kings County...","POLYGON ((-73.995547 40.695892, -73.9953259999...",3.802381e+06,5.545541e+06
12,13,1500000US360470005013,"Block Group 3, Census Tract 5.01, Kings County...","POLYGON ((-73.996197 40.694507, -73.9958549999...",5.129168e+06,5.418170e+06
13,14,1500000US360470005021,"Block Group 1, Census Tract 5.02, Kings County...","POLYGON ((-73.993785 40.69587, -73.99302 40.69...",5.476460e+06,4.510041e+06
14,15,1500000US360470005022,"Block Group 2, Census Tract 5.02, Kings County...","POLYGON ((-73.994298 40.694792, -73.993978 40....",4.979407e+06,3.531959e+06
15,16,1500000US360470007001,"Block Group 1, Census Tract 7, Kings County, N...","POLYGON ((-74.001317 40.693208, -74.001277 40....",8.392551e+06,5.468317e+06
16,17,1500000US360470007002,"Block Group 2, Census Tract 7, Kings County, N...","POLYGON ((-73.997609 40.693601, -73.9967159999...",3.561836e+06,6.408147e+06
17,18,1500000US360470007003,"Block Group 3, Census Tract 7, Kings County, N...","POLYGON ((-73.995914 40.691416, -73.99508 40.6...",8.541489e+06,2.914260e+06
18,19,1500000US360470009001,"Block Group 1, Census Tract 9, Kings County, N...","POLYGON ((-73.99310299999999 40.692846, -73.99...",1.044992e+07,4.826333e+06
19,20,1500000US360470009002,"Block Group 2, Census Tract 9, Kings County, N...","POLYGON ((-73.993736 40.69153499999999, -73.98...",9.948306e+06,4.825448e+06
20,21,1500000US360470011001,"Block Group 1, Census Tract 11, Kings County, ...","POLYGON ((-73.990447 40.693735, -73.990663 40....",2.523074e+06,2.588893e+06
21,22,1500000US360470013001,"Block Group 1, Census Tract 13, Kings County, ...","POLYGON ((-73.991407 40.69777699999999, -73.99...",7.166677e+06,1.468350e+05
22,23,1500000US360470013002,"Block Group 2, Census Tract 13, Kings County, ...","POLYGON ((-73.98868399999999 40.700699, -73.98...",0.000000e+00,5.585628e+06
23,24,1500000US360470015001,"Block Group 1, Census Tract 15, Kings County, ...","POLYGON ((-73.98472599999999 40.696129, -73.98...",5.230147e+06,2.427864e+05
24,25,1500000US360470015002,"Block Group 2, Census Tract 15, Kings County, ...","POLYGON ((-73.98245299999999 40.694796, -73.98...",7.660211e+05,2.427692e+04
25,26,1500000US360470015003,"Block Group 3, Census Tract 15, Kings County, ...","POLYGON ((-73.98514299999999 40.694885, -73.98...",8.143788e+06,2.965691e+05
26,27,1500000US360470018000,"Block Group 0, Census Tract 18, Kings County, ...","POLYGON ((-74.03351683155289 40.6443027526705,...",0.000000e+00,1.938097e+05
27,28,1500000US360470018001,"Block Group 1, Census Tract 18, Kings County, ...","POLYGON ((-74.03049799999999 40.6453, -74.0282...",0.000000e+00,3.815555e+05
28,29,1500000US360470020001,"Block Group 1, Census Tract 20, Kings County, ...","POLYGON ((-74.01634299999999 40.649656, -74.01...",7.119352e+05,6.759355e+05
29,30,1500000US360470020002,"Block Group 2, Census Tract 20, Kings County, ...","POLYGON ((-74.01750899999999 40.648533, -74.01...",1.171919e+06,3.785093e+05
...,...,...,...,...,...,...
2055,2056,1500000US360471196003,"Block Group 3, Census Tract 1196, Kings County...","POLYGON ((-73.875275 40.674918, -73.8743509999...",1.274418e+06,4.624239e+06
2056,2057,1500000US360471196004,"Block Group 4, Census Tract 1196, Kings County...","POLYGON ((-73.87495699999999 40.673651, -73.87...",1.174147e+06,9.101317e+05
2057,2058,1500000US360471198001,"Block Group 1, Census Tract 1198, Kings County...","POLYGON ((-73.89999 40.6769, -73.896537 40.678...",7.319328e+05,1.308064e+06
2058,2059,1500000US360471198002,"Block Group 2, Census Tract 1198, Kings County...","POLYGON ((-73.89621799999999 40.677358, -73.89...",9.277482e+05,1.922090e+06
2059,2060,1500000US360471198003,"Block Group 3, Census Tract 1198, Kings County...","POLYGON ((-73.893484 40.677762, -73.891672 40....",6.398428e+05,1.041429e+06
2060,2061,1500000US360471200001,"Block Group 1, Census Tract 1200, Kings County...","POLYGON ((-73.87043899999999 40.677218, -73.86...",7.223588e+05,8.090631e+05
2061,2062,1500000US360471200002,"Block Group 2, Census Tract 1200, Kings County...","POLYGON ((-73.86975199999999 40.674404, -73.86...",5.779462e+05,NaN
2062,2063,1500000US360471202001,"Block Group 1, Census Tract 1202, Kings County...","POLYGON ((-73.86725799999999 40.676113, -73.86...",1.117778e+06,NaN
2063,2064,1500000US360471202002,"Block Group 2, Census Tract 1202, Kings County...","POLYGON ((-73.86886799999999 40.677156, -73.86...",5.180322e+05,NaN
2064,2065,1500000US360471208001,"Block Group 1, Census Tract 1208, Kings County...","POLYGON ((-73.871303 40.672858, -73.8694469999...",2.236490e+06,NaN
2065,2066,1500000US360471208002,"Block Group 2, Census Tract 1208, Kings County...","POLYGON ((-73.870943 40.671335, -73.866275 40....",1.540769e+06,NaN
2066,2067,1500000US360471208003,"Block Group 3, Census Tract 1208, Kings County...","POLYGON ((-73.86666799999999 40.673544, -73.86...",1.355596e+06,NaN
2067,2068,1500000US360471208004,"Block Group 4, Census Tract 1208, Kings County...",POLYGON ((-73.86592899999999 40.67061899999999...,9.821106e+05,NaN
2068,2069,1500000US360471208005,"Block Group 5, Census Tract 1208, Kings County...","POLYGON ((-73.863919 40.673942, -73.8617639999...",1.580857e+06,NaN
2069,2070,1500000US360471210001,"Block Group 1, Census Tract 1210, Kings County...","POLYGON ((-73.874624 40.672389, -73.8737189999...",1.212705e+06,NaN
2070,2071,1500000US360471210002,"Block Group 2, Census Tract 1210, Kings County...","POLYGON ((-73.8738 40.669335, -73.870561999999...",9.779264e+05,NaN
2071,2072,1500000US360471214001,"Block Group 1, Census Tract 1214, Kings County...","POLYGON ((-73.868315 40.668669, -73.86554 40.6...",1.178436e+06,NaN
2072,2073,1500000US360471214002,"Block Group 2, Census Tract 1214, Kings County...","POLYGON ((-73.86788 40.666996, -73.86242 40.66...",7.512992e+05,NaN
2073,2074,1500000US360471220001,"Block Group 1, Census Tract 1220, Kings County...","POLYGON ((-73.867181 40.660452, -73.859859 40....",2.881527e+06,NaN
2074,2075,1500000US360471220002,"Block Group 2, Census Tract 1220, Kings County...","POLYGON ((-73.87008299999999 40.667962, -73.86...",2.949315e+06,NaN
2075,2076,1500000US360471237001,"Block Group 1, Census Tract 1237, Kings County...","POLYGON ((-73.961051 40.698326, -73.9588579999...",6.815787e+05,NaN
2076,2077,1500000US360471237002,"Block Group 2, Census Tract 1237, Kings County...","POLYGON ((-73.95885799999999 40.698677, -73.95...",1.376827e+06,NaN
2077,2078,1500000US360471237003,"Block Group 3, Census Tract 1237, Kings County...","POLYGON ((-73.95702 40.698974, -73.956075 40.6...",1.481217e+06,NaN
2078,2079,1500000US360471502001,"Block Group 1, Census Tract 1502, Kings County...","POLYGON ((-73.98111 40.651592, -73.977333 40.6...",3.464280e+06,NaN
2079,2080,1500000US360471502002,"Block Group 2, Census Tract 1502, Kings County...","POLYGON ((-73.981453 40.653416, -73.979187 40....",2.384264e+06,NaN
2080,2081,1500000US360471502003,"Block Group 3, Census Tract 1502, Kings County...","POLYGON ((-73.987296 40.660442, -73.9850709999...",2.236187e+06,NaN
2081,2082,1500000US360471522001,"Block Group 1, Census Tract 1522, Kings County...","POLYGON ((-73.97084099999999 40.646378, -73.96...",3.043257e+06,NaN
2082,2083,1500000US360471522002,"Block Group 2, Census Tract 1522, Kings County...","POLYGON ((-73.96948399999999 40.64169, -73.968...",2.028809e+06,NaN
2083,2084,1500000US360471522003,"Block Group 3, Census Tract 1522, Kings County...","POLYGON ((-73.967546 40.647683, -73.9666649999...",2.208487e+06,NaN
2084,2085,1500000US360479901000,"Block Group 0, Census Tract 9901, Kings County...","POLYGON ((-73.93264580199239 40.5722744881389,...",0.000000e+00,NaN

In [61]:
sum(taxes.TotalTax2000)

2569863909.6524997

In [62]:
sum(taxes.TotalTax2013)

3639857681.1219997

In [ ]:
#https://www.tax-brackets.org/newyorktaxtable/2002